{% extends 'base.html' %}

{% block content %}
{% for date in date_list %}
    <div>
            <div class="panel panel-default">
                {% if date.feed %}
                <div class="panel-heading"><b>{{ date.feed }}</b></div>
                {% endif %}
                {% if date.pub_date %}
                <div class="panel-body">{{ date.pub_date }}</div>
                {% endif %}
                {% if not date.feed and not date.pub_date %}
                <div class="panel-body"></div>
                {% endif %}
            </div>
    </div>
    {% endfor %}
<a href = "{% url 'home:index' %}">GO Back Home</a>
{% endblock content %}
